main {
  display: flex;                /* Enable flexbox */
  flex-direction: column;       /* Stack elements vertically */
  justify-content: center;      /* Vertically center the content */
  align-items: center;          /* Horizontally center the content */
  min-height: 100vh;            /* Ensure the main element takes at least the full viewport height */
  width: 70%;                   /* All child elements of main span across a certain percentage of the display */
  margin: 0 auto;               /* Remove default margin */
}

header {
  display: flex;              /* Enable flexbox layout */
  justify-content: flex-end;  /* Align content to the right */
  background-color: powderblue;
}

footer {
  background-color: powderblue;
}
