main {
  display: flex;                /* Enable flexbox */
  flex-direction: column;       /* Stack elements vertically */
  justify-content: center;      /* Vertically center the content */
  align-items: center;          /* Horizontally center the content */
  min-height: 100vh;             /* Ensure the main element takes at least the full viewport height */
  margin: 0;                    /* Remove default margin */
}

img {
  width: 50%;
  height: 50%;
  border-radius: 20%;
}

header {
  display: flex;              /* Enable flexbox layout */
  justify-content: flex-end;  /* Align content to the right */
  background-color: powderblue;
}

footer {
  backgound-color: powderblue;
}
